@import './variables.css';

.header {
    background-color: var(--card);
    border-bottom: 1px solid var(--border);
    padding: 1rem;
    z-index: 50;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}